.container{
    display: grid;
    grid-template-columns: 697px 730px;
    grid-template-rows: 740px 780px;

}
.container-profile {
    color:#D47490;
    margin-top: 80px;
   

}
.title-text h1 {
    font-family: "Sacramento", cursive;
    font-size: 100px;
    margin: 5px;
}
.title-text h2 {
 
    font-size:40px;
    font-weight: lighter;
 
}
span {
    font-weight:bold;
}
.title-text p {
    font-size: 18px;
}    

img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 100px;
}
.title-text {
    width: 500px;
    height: 500px;
}


.profile-area {

    grid-column: 1 / 3; /* chiếm cả 2 cột → vẫn ở dòng 1 của grid */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./ccdc86967ffc0b60f516decf74ba3130.jpg);  
    background-size: cover;
    
}
.container-study .year {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    

}
.container-study h3 {
    width: 200px;
    height: 30px;
    border: 1.5px solid #D47490;
    border-radius: 999px;
    display: grid;
    justify-content: center;
    align-items: center;
 
}
.container-hobby{
    margin: 10px;
}
.container-hobby p{
    width: 200px;
    height: 30px;
    border: 1.5px solid #D47490;
    text-align: center;
    border-radius: 999px;
    display: inline-block;
    margin: 5px;
}
.liked {
 background-color: #D47490;
 color: white;
}

.Softwares {       
    height: 300px;
    border: 1px solid #D47490;
    border-radius: 80px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
 
}
.Softwares h1{

  grid-column: span 2;
  text-align: center;
  
  margin: 0;
  
}
.container-work {
     
    width: 1427px;
    height: 700px;
}
.content-work {
    padding-top: 10px;
    text-align: center;

}
h1 {
    color: #df7493;
    font-size: 30px;
}
#contact{
       background-image: url(./ccdc86967ffc0b60f516decf74ba3130.jpg);  
    background-size: cover;
}
#contact h1{
    padding-top: 30px;
    text-align:center;
    font-weight: bold;
    
}
.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 1427px;
    height: 700px;
}
.contact-infor{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr ;
    text-align: center;
    
}
.contact-infor img{
    width: 50px;
    height: 50px;
    margin: 15px;
}
.contact-infor .infor{
    width: 200px;
    height: 200px;
    background-color: hsl(345, 100%, 95%);
    border-radius: 20px;
    margin-top: 70px;
   margin-left: 120px;
   color: #d36786;
}
.contact-input {
   margin: 50px ;
   font-size:18px;
   color:#D47490;
  
   
}
.contact-input h2{
    font-size: 30px;
}
.contact-input input{
    width: 500px;
    height: 20px;
    
}
button {
    margin-top: 40px;
    color: white;
    width: 150px;
    height: 30px;
    background-color: #df7493;
    font-size: 15px;
    border-radius: 5px;
    border: #e58aa4 solid;
}

hr {
    border: dotted hsl(345, 100%, 95%) 6px;
    border-bottom: none;
    width: 4%;
 
}
#contact a {
    text-decoration: none; 
    color: #d36786;
}
.map iframe {
  width: 100%;
  height: 300px;
  border: 0;
     filter: grayscale(40%);
}

footer {
    padding-top:30px ;
    text-align: center;
    display: block;
    color: aliceblue;
    font-size: 20px;
    background-color: #e58aa4;
    height: 70px;
    
}
.icon {
    border-radius: 50%;
}

